<%- include('includes/head.ejs') %>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="../css/main.css">
  <script src="../bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <script src="../../bootstrap/js/bootstrap.bundle.min.js" defer></script>
</head>
<%- include('includes/navigation.ejs') %>
<h1>Error Page</h1>
<%- include('includes/end.ejs') %>
