<%- include('includes/head.ejs') %>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="../css/main.css">
  <script src="../bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <script src="../../bootstrap/js/bootstrap.bundle.min.js" defer></script>
</head>
<%- include('includes/navigation.ejs') %>
  <h1>Some error occurred !!</h1>
  <p>We're working on fixing this</p>
  <div><%= error %></div>
  <a class="btn btn-link" href="/">Click here to go back to the site</a>
<%- include('includes/end.ejs') %>