{{#if hasProducts }}
  <div class="row">
    {{#each products}}
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
      <div class="card w-100">
        <img
          src="https://media.istockphoto.com/id/1312330538/photo/cryptocurrency.jpg?s=612x612&w=0&k=20&c=Nebi6e6Ke8aMXe1Ry6K-a0vETlEGRLayHNyYUrct6qk="
          class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{ else }}
  <h1>No Products Found</h1>
{{/if}}